<h1 id="title">
  ASME Intern Database
</h1>

<div class="name-list">
  <div  *ngFor="let person of people" (click)="nameClick($event)" class="name-list-item" id="l{{person.name.toLowerCase().split(' ').join('')}}">
    <div class="name-list-text">
      {{person.name}}
    </div>
  </div>
</div>

<div style="overflow-x:auto;" class="table-contain" *ngFor="let person of people" id="{{person.name.toLowerCase().split(' ').join('')}}" >
  <table class="person" *ngIf="person.name.toLowerCase().split(' ').join('')==visibleId">
    <tr class="row name-row">
      <td class="title name-title">Name:</td>
      <td class="name info">{{person.name}}</td>
    </tr>
    <tr class="row class-row">
      <td class="title class-title">Class:</td>
      <td class="class info">{{person.class}}</td>
    </tr>
    <tr class="row college-row">
      <td class="title college-title">College:</td>
      <td class="college info">{{person.college}}</td>
    </tr>
    <tr class="row phone-row">
      <td class="title phone-title">Phone Number:</td>
      <td class="phone info">{{person.phoneNumber}}</td>
    </tr>
    <tr class="row email-row">
      <td class="title email-title">Email:</td>
      <td class="email info">{{person.email}}</td>
    </tr>
    <tr class="row i1-row intern" *ngIf="person.internship1">
      <td class="title i1-title">Internship #1:</td>
      <td class="i1 info">{{person.internship1}}</td>
    </tr>
    <tr class="row d1-row desc" *ngIf="person.description1">
      <td class="title d1-title">Description #1:</td>
      <td class="d1 info">{{person.description1}}</td>
    </tr>
    <tr class="row i2-row intern" *ngIf="person.internship2">
      <td class="title i2-title">Internship #2:</td>
      <td class="i2 info">{{person.internship2}}</td>
    </tr>
    <tr class="row d2-row desc" *ngIf="person.description2">
      <td class="title d2-title">Description #2:</td>
      <td class="d2 info">{{person.description2}}</td>
    </tr>
    <tr class="row i3-row intern" *ngIf="person.internship3">
      <td class="title i2-title">Internship #3:</td>
      <td class="i3 info">{{person.internship3}}</td>
    </tr>
    <tr class="row d3-row desc" *ngIf="person.description3">
      <td class="title d2-title">Description #3:</td>
      <td class="d3 info">{{person.description3}}</td>
    </tr>
    <tr class="row i4-row intern" *ngIf="person.internship4">
      <td class="title i2-title">Internship #4:</td>
      <td class="i4 info">{{person.internship4}}</td>
    </tr>
    <tr class="row d4-row desc" *ngIf="person.description4">
      <td class="title d2-title">Description #4:</td>
      <td class="d4 info">{{person.description4}}</td>
    </tr>
    <tr class="row cw-row" *ngIf="person.currentWork">
      <td class="title cw-title">Current Work:</td>
      <td class="cw info">{{person.currentWork}}</td>
    </tr>

  </table>
</div>
