/* You can add global styles to this file, and also import other style files */
@import url('https://www.fontify.me/wf/80aa79216ca7539cf9583442ef908be3');

html{
  font-family: font91409;
  font-size:16;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
body{
  position:absolute;
  top:0;
  left:0;
}